In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [13]:
df_profiles=pd.read_csv("data/profiles.csv",sep='\t')
df_processes=pd.read_csv("data/processes.csv",sep='\t')
df_devices=pd.read_csv("data/devices.csv",sep='\t')
df_connections = pd.read_csv("data/connections.csv", sep='\t')
df_devices.head()

   latitude  longitude  store_name code          location                 imei
0 -11.48472  -37.93278    Rio Real   BR     America/Bahia   863033069630348404
1  14.62072   74.83554       Sirsi   IN      Asia/Kolkata  8630330696303481412
2  54.84444   38.16694     Kashira   RU     Europe/Moscow  8630330696303481586
3  42.42510  -71.06616      Malden   US  America/New_York  3590433799317661503
4  37.17590  128.98890  T‚Äôaebaek   KR        Asia/Seoul  3590433799317661016